@import "../../styles";

.show {
  display: flex;
  flex-direction: row;
  margin-bottom: spacing(1);
  flex-wrap: wrap;

  @include on-small {
    margin-bottom: spacing(2);
  }

  &__poster {
    width: 40%;

    @include on-small {
      width: 33%;
    }

    @include on-medium {
      width: auto;
    }
  }

  &__image {
    max-width: 100%;
  }

  &__info {
    flex: 1;
    margin: 0 spacing(1);

    @include on-small {
      margin: 0 spacing(2);
    }
  }

  &__title {
    font-size: 18px;
    margin: spacing(1) 0;
    font-weight: bold;

    @include on-small {
      margin: spacing(1) 0 spacing(2);
    }
  }

  &__descr {
    line-height: 1.4;
  }

  &__card {
    width: 100%;
    padding: spacing(1);
    margin-top: spacing(1);
    background: #f3f3f3;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);

    @include on-small {
      padding: spacing(2);
    }

    @include on-medium {
      width: 20%;
    }
  }

  &__card-title {
    font-size: 18px;
    margin-bottom: spacing(1);
  }

  &__card-list-item {
    margin: spacing(1) 0;
    line-height: 1.2;
  }

  &__card-list-title {
    font-weight: bold;
    margin-right: 4px;
  }
}