$content-max-width: 960px;
$bp-small: 420px;
$bp-medium: 720px;
$spacing: 8px;

$bp-medium: 600px;

// colors
$c-link: #00162c;
$c-link-secondary: #763f00;
$c-link-invert: aliceblue;
$c-link-invert-secondary: antiquewhite;
$c-background-hover: #f1f1f1;